* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('FictorConsig_Background.png') no-repeat center center fixed; /* Adicione a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    color: #fff;
    line-height: 1.6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #ffffff;
    color: #104639; /* Cor do texto */
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    width: 450px; 
    height: 500px;
    text-align: center;
    margin: 0 auto; /* Centraliza o container na página */
}

.login-container h2 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #0a1527; /* Cor do título */
}

.login-container input {
    width: 100%;
    padding: 15px; /* Mantido em 15px */
    margin: 15px 0; /* Aumentado para 15px */
    border: 1px solid #0a1527; /* Borda na cor profissional */
    border-radius: 8px;
    font-size: 1em;
    text-align: center;
}

.login-container input:focus {
    border-color: #2575fc; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

.login-container button {
    width: 100%;
    padding: 15px; /* Mantido em 15px */
    background-color: #0a1527; /* Cor do botão */
    border: none;
    border-radius: 8px;
    color: #ffffff; /* Texto branco */
    font-size: 1.2em; /* Aumentado para 1.2em */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave */
    margin-top: 20px; /* Adicionado espaço acima do botão */
}

.login-container button:hover {
    background-color: #1e4f9e; /* Cor ao passar o mouse */
}
